body {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
  padding-right: 30px;
  font-weight: bold;
}

li {
  list-style-type: none;
}

a:hover {
  color: #45a049;
}
h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="number"], input[type="email"], input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.autor, .livro, .usuario {
  width: 517px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.alert {
  padding: 10px;
  margin-top: 10px;
  background-color: #f44336;
  color: white;
  border-radius: 5px;
}